body{
    color: lightgray
}

/*header*/
header{
    height: 75px;
    background-color: rgb(26, 26, 26)
}
nav{
    display: inline-block;
}
.linav{
    display: inline-block;
}

#banner{
    height: 70vh;
}

main{
    background-color: rgb(26, 42, 59)
}